.welcome-screen-nav-tabs {
    margin-bottom: 0;
}
.welcome-screen-nav-tabs:after {
    clear: both;
    display: table;
    content: " ";
}
.welcome-screen-nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    display: block;
}
.welcome-screen-nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    display: block;
    padding: 10px 15px;
	text-decoration: none;
}
.welcome-screen-nav-tabs > li.active > a, .welcome-screen-nav-tabs > li.active > a:focus, .welcome-screen-nav-tabs > li.active > a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.welcome-screen-nav-tabs > li.welcome-screen-w-red-tab > a {
    color: red;
    font-weight: bold;
}
.welcome-screen-tab-content {
	background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: 960px;
    float: left;
}
.welcome-screen-tab-content > .tab-pane {
    display: none;
}
.welcome-screen-tab-content > .active {
    display: block;
}

.welcome-screen-tab-pane {
	padding: 30px;
}
.welcome-screen-tab-pane {
    display: none;
}
.welcome-screen-tab-pane.active {
    display: block;
}

#welcome-screen-theme-version {
    font-size: 50%;
    padding: 10px;
    background: #ccc;
}
#welcome-screen-w-screenshot {
    border: 1px solid #ccc;
    margin-top: 30px;
}
.welcome-screen-w-activated {
    cursor:not-allowed !important;
}
.longform-tab-pane-half {
    width: 45%;
    float:left;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    margin-top: 15px;
    padding-right: 20px;
    margin-bottom: 15px;
}
.welcome-screen-tab-content img {
    max-width: 100%;
}
.longform-tab-pane-first-half {
    border-left: none;
}
.longform-tab-pane-center {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.longform-welcome-screen-title {
    font-size: 32px;
}
.welcome-screen-clear {
    clear: both;
}
.welcome-screen-child-theme-container {
    position: relative;
}
.welcome-screen-child-theme-description {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
.welcome-screen-child-theme-description h2 {
    color: #fff;
}
.welcome-screen-child-theme-image-container:hover .welcome-screen-child-theme-description {
    top: 0;
    display: block;
    padding: 0 15px;
    opacity: 0.8;
}
.welcome-screen-child-theme-image-container {
    position: relative;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 0 0 15px;
    border-bottom: 1px solid #ddd;
}
.welcome-screen-child-theme-image-container img {
    max-width: 100%;
}
.welcome-screen-child-theme-details .theme-details {
    padding: 10px;
    background: none repeat scroll 0 0 #F1F1F1;
    font-size: 18px;
}

.welcome-screen-child-theme-details .theme-details.active {
    background: none repeat scroll 0 0 #2B5F87;
    color: #fff;
}

.welcome-screen-child-theme-details .theme-details .theme-name {
    float:left;
}
.welcome-screen-child-theme-details .theme-details .preview {
    margin-right: 2px;
}
.welcome-screen-fre-pro table {
    border-collapse: collapse;
    width: 100%;
}
.welcome-screen-fre-pro table tr {
    border-bottom: 1px solid #ddd;
}
.welcome-screen-fre-pro table td {
    padding: 30px;
}
.welcome-screen-fre-pro table th {
    padding-bottom: 30px;
}
.welcome-screen-fre-pro table td span.dashicons-before:before {
    font-size: 50px;
    width: auto;
    height: auto;
}
.welcome-screen-fre-pro table td span.dashicons-yes:before {
    color:green;
}
.welcome-screen-fre-pro table td span.dashicons-no-alt:before {
    color:red;
}
.welcome-screen-fre-pro table tr.welcome-screen-text-center {
    text-align: center;
}
.welcome-screen-actions-count {
    padding: 0 6px;
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
}
.longform-action-required-box {
    position: relative;
}
.longform-dismiss-required-action {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-color: #D24A4A;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.longform-dismiss-required-action:hover {
    background-color: #CC8C8C;
}
#getting_started hr.bigger {
    margin: 30px 0;
}